
    <div ui-content-for="title">
        <span>LED大屏</span>
        &nbsp;&nbsp;&nbsp;&nbsp; <span style=""><a href="/shzt/index.html"> 返回主界面</a></span>
    </div>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="container-fluid section section-break" id="toggleExample">

                <p ui-state id='lightbulb'
                   ui-class="{'text-primary': lightbulb}"
                   class="text-default">
                    <img  ng-src="{{imgid}}" >
                    <br>LED大屏
                </p>

                <div class="btn-group justified nav-tabs">
                    <a ng-click="sendCommand('device2','ON','lights')"
                       ui-turn-on='lightbulb'

                       class="btn btn-default" href>
                        打开
                    </a>
                    <a ng-click="sendCommand('device2','OFF','lights')"
                       ui-turn-off='lightbulb'

                       class="btn btn-default" href>
                        关闭
                    </a>
                </div>
            </div>
        </div>
    </div>


