
    <div ui-content-for="title">
        <span>取票机</span>
        &nbsp;&nbsp;&nbsp;&nbsp; <span style=""><a href="/shzt/index.html"> 返回主界面</a></span>
    </div>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="container-fluid section section-break" id="toggleExample">

                <p ui-state id='lightbulb'
                   ui-class="{'text-primary': lightbulb}"
                   class="text-default">
                    <img  ng-src="{{imgid}}" err-src="/shzt/computer-close.png">
                    <br>
                    大厅取票机
                </p>

                <div class="btn-group justified nav-tabs">

                    <a ng-click="sendCommand('device6','ON','socket')"
                            ui-turn-on='lightbulb'

                            class="btn btn-default" href>
                        打开设备
                    </a>
                    <a ng-click="sendCommand('device6','OFF','socket')"
                            ui-turn-off='lightbulb'

                            class="btn btn-default" href>
                        关闭设备
                    </a>
                </div>
            </div>
        </div>
    </div>


