<div ui-content-for="title">
    <span>红外控制</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="container-fluid section section-break" id="lights">
            <center><span style="align-content: center;font-size: large">电视机1</span></center>
            <label>控制模式</label>
            <br>
            <label style="align-content: center">{{responsemsg}}</label>
            <div class="btn-group justified nav-tabs">

                <a ng-click="sendCommandTrans('device50','134','01','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制1
                </a>
                <a ng-click="sendCommandTrans('device50','134','02','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制2
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device50','134','03','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制3
                </a>
                <a ng-click="sendCommandTrans('device50','134','04','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制4
                </a>
            </div>
            <div class="btn-group justified nav-tabs">

                <a ng-click="sendCommandTrans('device50','134','05','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制5
                </a>
                <a ng-click="sendCommandTrans('device50','134','06','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制6
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device50','134','07','48AA3804006F0D00')"


                   class="btn btn-default" href>
                    控制7
                </a>
                <a ng-click="sendCommandTrans('device50','134','08','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    控制8
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device50','134','09','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    控制9
                </a>
                <a ng-click="sendCommandTrans('device50','134','10','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    控制10
                </a>
            </div>
            <br>
            <label>学习模式</label>
            <div class="btn-group justified nav-tabs">

                <a ng-click="sendCommandTrans('device50','136','01','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习1
                </a>
                <a ng-click="sendCommandTrans('device50','136','02','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习2
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device50','136','03','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习3
                </a>
                <a ng-click="sendCommandTrans('device50','136','04','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习4
                </a>
            </div>
            <div class="btn-group justified nav-tabs">

                <a ng-click="sendCommandTrans('device50','136','05','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习5
                </a>
                <a ng-click="sendCommandTrans('device50','136','06','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习6
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device50','136','07','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习7
                </a>
                <a ng-click="sendCommandTrans('device50','136','08','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习8
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device50','136','09','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习9
                </a>
                <a ng-click="sendCommandTrans('device50','136','10','48AA3804006F0D00')"

                   class="btn btn-default" href>
                    学习10
                </a>
            </div>
        </div>
    </div>
</div>
