<div ui-content-for="title">
    <span>电视机2号</span>
    &nbsp;&nbsp;&nbsp;&nbsp; <span style=""><a href="/shzt/index.html"> 返回主界面</a></span>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="container-fluid section section-break" id="lights">
            <center><span style="align-content: center;font-size: large">电视机2</span></center>
            <label>控制模式</label>
            <br>
            <label style="align-content: center">{{responsemsg}}</label>
            <div class="btn-group justified nav-tabs">

                <a ng-click="sendCommandTrans('device51','134','01','F7A43804006F0D00')"


                   class="btn btn-default" href>
                    电源按键
                </a>

            </div>
            <br>
            <div class="btn-group justified nav-tabs">


                <a ng-click="sendCommandTrans('device51','134','02','F7A43804006F0D00')"


                   class="btn btn-default" href>
                   模式选择
                </a>
            </div>
            <br>
            <div class="btn-group justified nav-tabs">
                <a ng-click="sendCommandTrans('device51','134','03','F7A43804006F0D00')"


                   class="btn btn-default" href>
                   确认按钮
                </a>
            </div>


        </div>
    </div>
</div>
